body{ background: #000000 url(../images/planet-plyto.jpg) no-repeat;
    margin: 0;
}

p{
    color: #f8f7ff;
    margin: fill;
    font-family: Georgia, serif;
    letter-spacing: 2.2px;
    word-spacing: 0px;
    font-variant: small-caps;
    text-transform: capitalize;

}

p:hover {
    color: rgb(252, 255, 141);
}


a{
    color: #f8f7ff;
    margin: fill;
    text-align: center;
    font-family: Georgia, serif;
    letter-spacing: 2.2px;
    word-spacing: 0px;
    font-variant: small-caps;
    text-transform: capitalize;

}

a:hover {
    color: red;
}


div.info {
    width: 1200px;
    height: 90px;
    margin-top: 5%;
    margin-left: 8%;
}
div.main {
    width: 1200px;
    height: 150px;
    margin-top: 2%;
    margin-left: 8%;
}

div.report {
    width: 1200px;
    height: 90px;
    margin-top: 2%;
    margin-left: 8%;
}
div.cat {
    width: 1200px;
    height: 100px;
    margin-top: 1%;
    margin-left: 8%;
}
