{% extends 'base.html.twig' %}

{% block content %}
    <a href="/tools/xml_emulator/new">
        <button class="btn btn-dark" type="submit">New</button>
    </a>
    <a href="/tools/xml_emulator/list">
        <button class="btn btn-dark" type="submit">Show existing</button>
    </a>
{% endblock %}