<!DOCTYPE html>
<html>
<body style="background-color: #D5CEDE">
<img id="img_den" style="position:absolute; margin-top: 200px" src={{ asset('images/denied.png') }}>

<script type="text/javascript">
    let offset = 0,
        tank = document.getElementById('img_den'),
        step = 0;

    timerId = setInterval(function () {
        switch (true) {
            case step === 2000:
                step = 0;
                offset = 0;
                break;
            case step < 1000:
                ++offset;
                break;
            case step > 1000:
                --offset;
                break;
        }

        tank.style.left = offset + "px";
        step++;
    }, 33);
</script>
</body>
</html>