{% extends 'base.html.twig' %}

{% block title %}Aliexpress orders{% endblock %}
    {#{% block javascripts %}#}
        {#<script src="{{ asset('js/main.js') }}"></script>#}
    {#{% endblock %}#}

{% block body %}
<p>Aliexpress orders</p>
{% endblock %}