{% extends 'base.html.twig' %}
{% block title %}
    <div class="block rounded bg-light">
        <h1>Logs</h1>
    </div>
{% endblock %}
{% block content %}
    <form id="logs_form" method="post" action={{ path('logs.clear') }}>
        <input type="hidden" name="token" value="{{ csrf_token('token') }}"/>
        <div class="elem">
            <label>
                <textarea cols="120" rows="15">{{ log_content }}</textarea>
            </label>
        </div>
        <div class="elem">
            <button class="btn btn-dark" type="submit" form="logs_form">Clear</button>
        </div>
    </form>
{% endblock %}