{% extends 'base.html.twig' %}
{% block content %}
    <div class="block">
        <form action="tools/sender/upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="token" value="{{ csrf_token('upload') }}"/>
            <button type="button" class="btn btn-light">
                <input type="file" name="file[]" required multiple>
            </button>
            <input type="submit" value="Upload" class="btn btn-dark">
        </form>
    </div>
{% endblock %}