{% extends 'base.html.twig' %}
{% block content %}
    {% if posts is defined %}
        {% for post in posts %}
            <a href="{{ path('blog.post', {'slug': post.slug}) }}">{{ post.title }}</a><br><br>
        {% endfor %}
    {% endif %}
{% endblock %}