{% extends 'base.html.twig' %}

{% block title %}Geo searching{% endblock %}

{% block body %}
    <div class=geo_menu>
        <table>
            <tr>
                <th>Paste orders:</th>
                <th>
                    <textarea id="ali_orders"></textarea>
                </th>
                <th>
                    <input type="button" onclick="get_csv_file()" value="Get CSV file">
                </th>
            </tr>
        </table>
    </div>
{% endblock %}