<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Tools</a></li>
            <li><a href="/geo">Geo search</a></li>
            <li><a href="/data_transformer">Transform data</a></li>
            <li><a href="/ali_orders">Aliexpress orders</a></li>
            <li><a href="/sender">Sender</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>