{% block sidebar %}
    <div class="sidebar-heading">
        <div>
            <img style="width: 60px; height: auto" src="https://i.giphy.com/media/4NWT0Ry3dtTLW/giphy.webp">
            <img style="width: 60px; height: auto" src="https://media.giphy.com/media/l378Bu88CUbQyFniM/giphy.gif">
            <img style="width: 50px; height: auto" src="https://media.giphy.com/media/4BJCvMoLPePq8/giphy.gif">
        </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="/tools/geo" class="list-group-item list-group-item-action bg-light">Geo search</a>
        <a href="/tools/ali_orders" class="list-group-item list-group-item-action bg-light">Aliexpress orders</a>
        <a href="/tools/sender" class="list-group-item list-group-item-action bg-light">Sender</a>
        <a href="/tools/xml_emulator/all" class="list-group-item list-group-item-action bg-light">Xml emulator</a>
        <a href="/blog" class="list-group-item list-group-item-action bg-light">Blog</a>
    </div>
{% endblock %}