{% extends 'base.html.twig' %}

{% block content %}
    {% if new_form is defined %}
        <form id="xml_new_form" method="post" action="/xml_emulator">
            <div class="block">
                <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="block">
                <textarea id="code" cols="60" rows="30" name="xml_str" ></textarea>
            </div>
            <div class="block">
                <button class="btn btn-dark" type="submit" need_check="1" form="xml_new_form" name="new">Save xml</button>
                <a href="javascript:autoFormatSelection()">
                    <button type="button" class="btn btn-dark">Format selected xml</button>
                </a>
                <a href="javascript:commentSelection(true)">
                    <button type="button" class="btn btn-dark">Comment selected xml</button>
                </a>
            </div>
        </form>

        <script type="text/javascript">
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                mode: "application/xml",
                lineNumbers: true
            });

            function getSelectedRange() {
                return {from: editor.getCursor(true), to: editor.getCursor(false)};
            }

            function autoFormatSelection() {
                var range = getSelectedRange();
                editor.autoFormatRange(range.from, range.to);
            }

            function commentSelection(isComment) {
                var range = getSelectedRange();
                editor.commentRange(isComment, range.from, range.to);
            }
        </script>
    {% else %}
            <div class="block">
                <a href="/xml_emulator/new">
                    <button class="btn btn-dark" type="submit">New</button>
                </a>
            </div>
            {% if xml_collection is defined %}
            <div class="block">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        {% for elem in table_head %}
                        <th scope="col">{{ elem }}</th>
                        {% endfor %}
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for xml in xml_collection %}
                        <tr>
                            {% for key, value in xml %}
                                <th><output  form="xml_table_form" name={{ key }}>{{ value }}</output></th>
                            {% endfor %}
                            <th>
                                <form method="post" id="xml"  action="/xml_emulator">
                                    <button class="btn btn-dark" type="submit" form="xml" name="delete" value="{{ xml.id }}">Delete</button>
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
    {% endif %}
{% endblock %}