{% extends 'base.html.twig' %}

{% block title %}Xml emulator{% endblock %}

{% block body %}
    <div class=geo_menu>
        <table>
            <tr>
                <th>Paste your xml:</th>
                <th>
                    <textarea id="xml"></textarea>
                </th>
                <th>
                    <input type="button" onclick="generate_link()" value="Generate Link">
                </th>
            </tr>
            <tr>
                <th>Get link:</th>
            </tr>
        </table>
    </div>
{% endblock %}