body {
    background: #000000 url(../images/magnetic.jpg) no-repeat;
    background-position-x: right;
    margin: 0;
}

.block {
    position: absolute;
    top: 10%;
    left: 25%;
}

.table {
    display: inline-block;
    margin-left: 10px;
    margin-top: auto;
}

.table textarea {
    margin: 0px;
    width: 200px;
    height: 400px;
    background-color: #f5faff;
    font-size: 1em;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 2px solid rgba(114, 106, 116, 0.3);
    border-radius: 8px;
    padding: 5px;
}

form {
    align-items: center;
    justify-content: center;
}

p {
    color: #f8f7ff;
    margin: fill;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 33px;
    letter-spacing: 2.2px;
    word-spacing: 0px;
    font-variant: small-caps;
    text-transform: capitalize;
}

 a {
    color: red;
    /* Цвет ссылок */
    text-decoration: none;
}

a:visited {
    color: red;
    /* Цвет посещенных ссылок */;
}

a:hover {
    color: #ffff00;
    /* Цвет активных ссылок */;
}
