body {
    background: #000000 url(../images/geo_back.jpg) no-repeat;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */;
}

li {
    list-style-type: none;
}

A {
    color: red;
    /* Цвет ссылок */
    text-decoration: none;
}

A:visited {
    color: red;
    /* Цвет посещенных ссылок */;
}

A:hover {
    color: #ffff00;
    /* Цвет активных ссылок */;
}

.menu {
    font-family: Georgia, serif;
    font-size: 33px;
    letter-spacing: 2.2px;
    word-spacing: 0px;
    font-variant: small-caps;
    text-transform: capitalize;
}

div.menu {
    position: absolute;
    top: 40%;
    left: 20%;
}