{% extends 'base.html.twig' %}
{% block content %}
    <form id="geo_form" method="post" action="/tools/geo">
        <div class="input-group">
            <input type="text" name="list" id="check_field" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Choose geo format
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" type="submit" need_check="1" form="geo_form" name="action" value="search_geo_type_1">Regions full name(Russia, China, Brazil)
                    </button>
                    <button class="dropdown-item" type="submit" need_check="1" form="geo_form" name="action" value="search_geo_type_2">Country code (US,UA,MX)</button>
                    <button class="dropdown-item" type="submit" need_check="1" form="geo_form" name="action" value="search_geo_type_3">Cities of Russia</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}