!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
sql-mode=""
innodb_buffer_pool_size=282177280
innodb_flush_log_at_trx_commit=2
max_allowed_packet=264217728
connect_timeout=60
max_connections=256

